* {
    margin: 0;
    padding: 0;
}

.topheader {
    height: 10%;
    padding-top: 40px;
    background-image: url('images/leaf.jpg');
    background-position: center;
}

.links {
    float: left;
    font-size: large;
    padding-left: 20px;
    margin-left: 20px;
    width: auto;
    height: auto;
}

.links a {
    padding-right: 30px;
    color: rgb(19, 29, 235);
    font-size: 25px;
}
.links a:hover{
    color:black;
    transition:0.8s;
}

.shortcuts {
    float: right;
    margin-right: 30px;
    font-size: 18px;
    width: auto;
    height: auto;
}

.shortcuts ul {
    list-style-type: none;

}

.shortcuts ul li {
    float: left;
}

.shortcuts ul a {
    text-decoration: none;
    margin: 5px;
    font-weight: 700;
    color: black;
    padding: 4px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.shortcuts ul a:hover {
    color: yellow;
    border: 2px solid black;
    background-color: red;
    transition: 0.8s;
}

.header {
    height: 630px;
}

.row {
    width: 100%;
}

.sec {
    float: left;
    width: 40%;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 40px;
    color: rgb(250, 51, 6);
    text-shadow: 2px 3px black;
    padding: 50px;

}
.sec:hover{
    color:greenyellow;
    text-shadow: 2px 3px black;
    transition: 0.3s;
}

.logo {
    margin-top: 120px;
    float: left;
    width: 40%;

}

.header img {
    height: 300px;
    float: right;
    width: 300px;
    margin-right: 50px;
    border-radius: 200px;
    border: 2px double black;
}

.header img:hover {
    border: 3px solid yellow;
    box-shadow: 2px 2px 2px 2px blue;
    transition: 0.3s;
}

.body {
    
}

.row1 {
    width: 100%;
    height: 70%;
    border: 2px double aqua;
    background-image: url('images/about2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.home {
    width: 30%;
    height:400px;
    overflow:scroll;
    float: left;
    font-size: 25px;
    margin: 40px;
    margin-top: 200px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: black;
}

.home:hover {
    .aboutme {
        color: red;
        background-image: url('images/about1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        border-radius: 10px;
        text-shadow: 1px 1px black;
    }
}


.name {
    width: 50%;
    float: right;
    margin: 40px;
    margin-top: 350px;
    font-size: 45px;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}

.name label {
    color: red;
}

.skills {
    height: 500px;
    border-radius:10px;
    
}
.skills h1{
    color:white;
    margin-top:70px;
}

.allskills {
	display:flex;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-color:black;
}
.skillroll{
    transition:0.20s;
}
.programminglanguages0{
    float:left;
    text-align: center;
    margin:35px;
    margin-left:30px;
    padding: 60px;
}
.projectsbar{
background-color: antiquewhite;
border-radius:10px;
border:1px solid green;
}

.programminglanguages1{
    float:right;
    text-align: center;
    background-color:yellow;
    margin:35px;
    margin-left:30px;
    padding: 40px;
    height:180px;
    border-radius: 10px;
    border:2px groove blueviolet;
}
.programminglanguages1:hover{
    border:2px solid black;
    box-shadow: 4px 2px green;
}

.programminglanguages1 ul {
    list-style-type: none;
    font-size: larger;
}

.heddings{
    color:red;
}
.programminglanguages1 img{
    height:35px;
    width:35px;
    border-radius:10px;
}

.allprojects {
    height: 450px;
    text-align: center;
}


.projects{
    height:200px;
    width:30%;
    float:left;
    margin:50px;
    margin-left:130px;
    padding:50px;
    border-radius:20px;
    text-decoration: dotted;
    border:1px solid yellow;
   background-image: url('images/header.jpg');
   background-size: cover;
}
.projects img{
    height:80px;
    width:150px;
    border-radius: 20px;
}
.projects a{
    text-decoration: none;
    background-color: red;
    color:aliceblue;
    padding:5px;
    border-radius:10px;
}
.certificates {
    height: 800px;
    width:100%;
    border-radius:20px;
}
.certificatesrow{
    width:100%;
    height:400px;
    text-align: center;
}
.certificatesrow h1{
    background-color: beige;
    border-radius: 20px;
    border:1px solid green;
}
.allcertificate{
    float:left;
    width:25%;
    height:250px;
    padding:35px;
    padding-left:42px;
    margin-left:45px;
}

.allcertificate img{
    height:250px;
    border-color: red;
}
.allcertificate:hover{
    background-color:pink;
    border-radius: 10px;
}
.allcertificate img:hover{
   border:2px solid black;

}


.footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5px;
}

.contact h2 {
    color: blue;
}

.contact a {
    text-decoration: none;
    color: red;
}

.finalfooter {
    height: 100px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding-top: 30px;
}


@media all and (max-width:1464px){
	
	.certificatesrow{
	width:100%;
	height:800px;
	 text-align: center;
	}
	.certificates {
    height: 1150px;
	width:100%;
    border-radius:20px;
}
}

@media all and (max-width:1434px){
 .programminglanguages1{
    float:right;
    text-align: center;
    background-color:yellow;
    margin:20px;
    margin-left:30px;
    padding: 40px;
    height:180px;
    border-radius: 10px;
    border:2px groove blueviolet;
}

.allprojects {
    height: 850px;
    text-align: center;
}

.home {
    width: 30%;
    height:400px;
    overflow:scroll;
    float: left;
    font-size: 25px;
    margin: 40px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: black;
}


.name {
    width: 50%;
    float: right;
    margin: 40px;
    margin-top: 50px;
    font-size: 45px;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}
	
	}
	
@media all and (max-width:600px){
 
	}













